In [2]:
import os
import pandas as pd

In [41]:
cwd = os.getcwd() # dirname(abspath(__file__))
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
working_file = os.path.join(CACHE_DIR, 'movies-box-office-dataset.csv')
output_file = os.path.join(CACHE_DIR, 'movies-box-office-dataset-cleaned.csv')

In [4]:
df = pd.read_csv(working_file)

In [5]:
df.head(10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,Bad Boys for Life,"$425,514,702","$204,417,855",48%,"$221,096,847",52%,2020.csv,2020
1,2,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%,2020.csv,2020
2,3,Dolittle,"$227,908,130","$77,047,065",33.8%,"$150,861,065",66.2%,2020.csv,2020
3,4,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461",41.7%,"$117,700,000",58.3%,2020.csv,2020
4,5,The Invisible Man,"$124,549,496","$64,914,050",52.1%,"$59,635,446",47.9%,2020.csv,2020
5,6,The Gentlemen,"$117,769,345","$36,296,853",30.8%,"$81,472,492",69.2%,2020.csv,2020
6,7,The Call of the Wild,"$107,604,626","$62,342,368",57.9%,"$45,262,258",42.1%,2020.csv,2020
7,8,The Grudge,"$49,511,319","$21,221,803",42.9%,"$28,289,516",57.1%,2020.csv,2020
8,9,Fantasy Island,"$48,607,556","$26,441,782",54.4%,"$22,165,774",45.6%,2020.csv,2020
9,10,Underwater,"$40,882,928","$17,291,078",42.3%,"$23,591,850",57.7%,2020.csv,2020

In [6]:
df['Rank'] = -1

In [7]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,-1,Bad Boys for Life,"$425,514,702","$204,417,855",48%,"$221,096,847",52%,2020.csv,2020
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%,2020.csv,2020
2,-1,Dolittle,"$227,908,130","$77,047,065",33.8%,"$150,861,065",66.2%,2020.csv,2020
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461",41.7%,"$117,700,000",58.3%,2020.csv,2020
4,-1,The Invisible Man,"$124,549,496","$64,914,050",52.1%,"$59,635,446",47.9%,2020.csv,2020

In [9]:
df['Domestic %'] = df['%']
df['Foreign %'] = df['%.1']
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,"$425,514,702","$204,417,855",48%,"$221,096,847",52%,2020.csv,2020,48%,52%
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%,2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,"$227,908,130","$77,047,065",33.8%,"$150,861,065",66.2%,2020.csv,2020,33.8%,66.2%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461",41.7%,"$117,700,000",58.3%,2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,"$124,549,496","$64,914,050",52.1%,"$59,635,446",47.9%,2020.csv,2020,52.1%,47.9%

In [11]:
df.drop(['%','%.1'], axis=1, inplace=True)

In [12]:
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,"$425,514,702","$204,417,855","$221,096,847",2020.csv,2020,48%,52%
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470","$160,700,000",2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,"$227,908,130","$77,047,065","$150,861,065",2020.csv,2020,33.8%,66.2%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461","$117,700,000",2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,"$124,549,496","$64,914,050","$59,635,446",2020.csv,2020,52.1%,47.9%

In [30]:
df['Worldwide'] = df['Worldwide'].replace("$", "").replace(",", "")
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,425514702,"$204,417,855","$221,096,847",2020.csv,2020,48%,52%
1,-1,Sonic the Hedgehog,306766470,"$146,066,470","$160,700,000",2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,227908130,"$77,047,065","$150,861,065",2020.csv,2020,33.8%,66.2%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,201858461,"$84,158,461","$117,700,000",2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,124549496,"$64,914,050","$59,635,446",2020.csv,2020,52.1%,47.9%

In [31]:
to_clean_cols = ['Worldwide', 'Domestic', 'Foreign']

def currency_to_int(current_val):
    currency_val = current_val.replace("$", "").replace(",", "")
    try:
        currency_val = int(currency_val)
    except:
        currency_val = 0
    return currency_val


def clean_col(row):
    for col in to_clean_cols:
        row[col] = currency_to_int(row[col])
    return row
df_cleaned = df.apply(clean_col, axis=1)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,425514702,204417855,221096847,2020.csv,2020,48%,52%
1,-1,Sonic the Hedgehog,306766470,146066470,160700000,2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,227908130,77047065,150861065,2020.csv,2020,33.8%,66.2%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,201858461,84158461,117700000,2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,124549496,64914050,59635446,2020.csv,2020,52.1%,47.9%

In [32]:
df_cleaned.sort_values(by=['Worldwide'], inplace=True, ascending=False)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
32,-1,Avengers: Endgame,2797800564,858373000,1939427564,2019.csv,2019,30.7%,69.3%
2021,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
717,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
2022,-1,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%
33,-1,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%

In [33]:
df_cleaned.reset_index(inplace=True, drop=True)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Avengers: Endgame,2797800564,858373000,1939427564,2019.csv,2019,30.7%,69.3%
1,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
2,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
3,-1,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%
4,-1,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%

In [34]:
df_cleaned['Rank'] = df_cleaned.index + 1
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,1,Avengers: Endgame,2797800564,858373000,1939427564,2019.csv,2019,30.7%,69.3%
1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
2,3,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
3,4,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%
4,5,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%

In [39]:
df_cleaned.dtypes

Rank               int64
Release Group     object
Worldwide          int64
Domestic           int64
Foreign            int64
filename          object
year               int64
Domestic %       float64
Foreign %        float64
dtype: object

In [37]:
df_cleaned['Domestic %'] = df_cleaned['Domestic'] / df_cleaned['Worldwide']
df_cleaned['Foreign %'] = df_cleaned['Foreign'] / df_cleaned['Worldwide']

In [38]:
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,1,Avengers: Endgame,2797800564,858373000,1939427564,2019.csv,2019,0.306803,0.693197
1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,0.452882,0.547118
2,3,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,0.331395,0.668605
3,4,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,0.390488,0.609512
4,5,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,0.328097,0.671903

In [42]:
df_cleaned.to_csv(output_file, index=False)